body{
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

h1 {
    top: 30%;
    margin-left: 26%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    top: 42%;
    margin-left: 30%;
    width: 30%;
}

span {
    top: 42%;
    margin-left: 70%;
}

input {
    font-size: 1.25em;
    font-weight: 700;
}

input[type=file] {
    top: 43%;
    margin-left: 26%;
    position: absolute;
    width: 295px;
    color: white;
    background-color: black;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

input[type=submit] {
    top: 43%;
    margin-left: 59%;
    position: absolute;
    color: white;
    background-color: black;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}